%div{ :class => "article-unit" }
  = f.input :title, :input_html => { :class => "span9" }
  = f.input :content, :input_html => { :class => "article-textarea" }

:javascript
  $('#article_content').wysihtml5();