%legend
  = t(".legend")
.div-for-new-article
  = link_to "Создать новую статью", new_article_path, :class => "btn btn-large btn-primary btn-block"
%br
- unless @articles.empty?
  - @articles.each do |a|
    = render :partial => 'shared/article_item', :locals => { :article => a }
- else
  Здесь пока ничего нет.