-# photo-Link id uses to show slideshow, so, if you changes it then look into:
-# photo.js.coffee and _photo.html.slim
= link_to "#", :class => "btn btn-primary", :id => "photo-Link", "data-id" => first_photo.id do
  = t(".slideshow")
  i class="icon-play-circle"
br/
br/
