%legend
  = t(".legend")

- if can? :create, Photo
  = link_to t(".new_photo_button"), new_photo_path, :class => "btn btn-large btn-info btn-block"
  %br/

- Photo.all.each_slice(3) do |a,b,c|
  %div{ :class => "row-fluid" }
    - [a,b,c].each do |val|
      = render :partial => 'photo_item', :locals => { :photo => val }

- if Photo.first.nil?
  = t(".no_photos")