// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//----- Variables ----- //

@mixin label-base {
  padding-top:    2px;
  padding-right:  4px;
  padding-bottom: 2px;
  padding-left:   8px;
  left: 0;
  right: 0;
  color: white;
  background-color: rgba(51, 51, 51, 0.60);                                                         // Gry transparent.
}

//----- CSS ----- //

.album-new-button{
  float: right;
}

.album-unit {
  max-width: 811px;
  background-color: #EEEEEE;
  border-radius: 6px 6px 6px 6px;
  margin-bottom: 30px;
  padding: 60px;
}

.album-preview {
  padding-top: 30px;
}


//----- Label on album. ----- //

div.imageWithLabel {
  position: relative;
  max-width: 400px;                                                                                 // Should be equal to the size of album's preview.

  div.album-menu {
    @include label-base;
    position: absolute;
    top: 30px;                                                                                      // Magic number to keep menu up.

    a.edit-link {
      float: right;
      padding-right: 4px;
      color: white;
      text-decoration: underline;
    }

    a.destroy-link {
      @extend a.edit-link;
      padding-left:  4px;
    }
  }

  div.album-label {
    @include label-base;
    max-height: 65%;                                                                                // Full description doesn't go outside of the album preview.
    position: absolute;
    bottom: 0;
  }
}

