// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$album-preview-width: 400px;

.album-new-button{
  float: right;
}

.album-unit {
  max-width: 811px;
  background-color: #EEEEEE;
  border-radius: 6px 6px 6px 6px;
  margin-bottom: 30px;
  padding: 60px;
}

.album-preview {
  max-width: $album-preview-width;
  max-height: 300px;
  padding-top: 30px;
}


//----- Label on album. ----- //

div.imageLabel {
  position: relative;
  width: $album-preview-width;
}

div.imageLabel div.album-menu {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  top: 30px;                                                                                        // Magic number to keep menu up.
  padding: 4px;
}

div.imageLabel div.album-menu {
  color: white;
  background-color: #333333;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.75;
}

div.imageLabel div.album-label {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 4px;
}

div.imageLabel div.album-label {
  color: white;
  background-color: #333333;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.75;
}