// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.article-unit {
  min-width: 828px;
  background-color: #EEEEEE;
  border-radius: 6px 6px 6px 6px;
  margin-bottom: 30px;
  padding: 60px;
}

.article-textarea {
  width: 630px;
}

.div-for-new-article{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}