// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-new-button {
  float: right;
}

.article-unit {
  max-width: 811px;
  background-color: #EEEEEE;
  border-radius: 6px 6px 6px 6px;
  margin-bottom: 30px;
  padding: 60px;
}

.article-edit-button{
  float: right;
}

#article_content{
  height: 600px;
}