/* -------- Layout styles: global -------- */

// Fix to set max size.
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

body {
  background-image: image-url("theme.png");
  background-color: #e4e4e4;
}

legend, hr {
  border-bottom: 1px solid #AAAAAA;
}

.content-inner {
  margin-top:    30px;
  margin-right:  30px;
  margin-left:   30px;
  margin-bottom: 30px;
}

/* Text's aligning inside of the table. */
table.text-center > thead > tr > th {
  text-align: center;
}

table.text-center > tbody > tr > td {
  text-align: center;
}

/* -------- Layout styles: application.html.slim -------- */
.content {
  background-color: white;
}

/* -------- Layout styles: home.html.slim -------- */
.home-welcome-content {
  @extend .content;
}
