// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact-edit-button{
  float: right;
}

// Fix to show correct google map via gem.
#map img {
  max-width: none;
}

#map label {
  width: auto; display:inline;
}