// Sticky Footer.
html, body {
  height: 100%;
}

#wrap {
  height: auto !important;
  margin: 0 auto -60px;
  min-height: 100%;
}

#push, #footer {
  height: 60px;
}

#footer {
  // border-top: 1px solid #000;
  background-color: #F5F5F5;
  margin-left: -20px;
  margin-right: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
	max-width: 680px;
	width: auto;
}

.container .credit {
	margin: 20px 0;
}

.footer-links {
	margin: 18px 0;
}

.footer-links li {
	display: inline;
	margin-right: 10px;
}
