// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//---------- Variables ---------- //

$modal-height: 680px;

//---------- CSS ---------- //

img.photo{
  padding-top: 5px;
  cursor: pointer;
}

// Modal window to show slideshow.
.modal-huge {
  width: 800px;
  height: $modal-height;
  background-clip: padding-box;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  left: 42%;
  margin: -250px 0 0 -280px;
  overflow: auto;
  position: fixed;
  top: 38%;
  z-index: 1050;
}

.modal-huge-body{
  max-height: $modal-height;
  overflow-y: auto;
  padding: 15px;
}

// Centering the image in the carousel.
.carousel-inner { text-align: center; }
.carousel .item > img { display: inline-block; }

//----- Label on image. ----- //

div.imageWithLabel {
  position: relative;
  max-width: 300px;                                                                                 // Should be equal to the size of photo's preview.

  div.photo-menu {
    padding-top:    2px;
    padding-right:  4px;
    padding-bottom: 2px;
    padding-left:   8px;
    left: 0;
    right: 0;
    color: white;
    background-color: rgba(51, 51, 51, 0.60);                                                       // Gry transparent.
    position: absolute;
    top: 5px;                                                                                       // Magic number to keep menu up.

    a.edit-link {
      float: right;
      padding-right: 4px;
      color: white;
      text-decoration: underline;
    }

    a.destroy-link {
      @extend a.edit-link;
      padding-left:  4px;
    }
  }
}
