// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo-item{
  max-width: 210px; // Note: it should have size like image.
}

a.edit-link{
  float: right;
}

img.photo{
  padding: 10px;
}