// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo-item{
  max-width: 210px; // It should have sane with image size.
}

.photo-edit-button{
  float: right;
}

img.photo{
  padding: 10px;
}

// .modal-body {
//     max-width: 800px; max-height: 600px;
// }

.modal {
  width: 800px;
  height: 700px;
}
