// Place all the styles related to the Sermons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sermon-new-button{
  float: right;
}

.sermon-edit-button{
  float: right;
}

.sermon-toolbar-buttons{
	float: right;
	margin: 0;
}

.sermon-time-duration{
  padding-right: 20px;
}

.sermon-time-now{
  padding-left: 23px;
}