// Place all the styles related to the WelcomeMessages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome-message-edit-button{
  float: right;
  margin-left: 5px;
  margin-bottom: 5px;
}