%div{ :class => "well" }
  %ul{ :class => "nav nav-list" }
    %li{ :class => "nav-header" }
      Статистика
    %li{ :class => "active", :style => "margin-right: -20px; margin-left: -20px;" }
      = link_to "Пользователи", "#"