-#= debug(params) if Rails.env.development?

%div{ :id => "footer" }
  %div{ :class => "container" }
    / This is callback to load gmaps4rails javascript.
    = yield :scripts

    %ul{ :class => "footer-links" }
      - unless user_signed_in?
        %li=link_to t(".login_link"), new_user_session_path
