%div{ :class => "navbar navbar-inverse navbar-fixed-top" }
  %div{ :class => "navbar-inner" }
    %a{:class => "btn btn-navbar", "data-toggle" => "collapse", "data-target" => ".nav-collapse"}
      %span{:class=>"icon-bar"}
      %span{:class=>"icon-bar"}
      %span{:class=>"icon-bar"}

    = link_to "Transfiguration in Christ", "#", { :class => "brand" }
    %div{ :class => "nav-collapse" }
      %ul{ :class => "nav" }
        %li=link_to "Home", "#"
        %li=link_to "Link", "#"
        %li=link_to "Link", "#"